Bhm/Bhm.Web/Service References/PegawaisService/PegawaisService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pegawais" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pegawais" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PegawaiData">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPgw" type="xs:int" />
      <xs:element minOccurs="0" name="instansi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="namaPgw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="passwordPgw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usernamePgw" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PegawaiData" nillable="true" type="tns:PegawaiData" />
</xs:schema>