Bhm/Bhm.Web/Service References/IbusService/IbusService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Bhm.Service/IbusService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ibus" />
  <xs:element name="InsertIbu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pkj" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tl" type="xs:dateTime" />
        <xs:element minOccurs="0" name="alamat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIbuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIbuById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIbuByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ibus" minOccurs="0" name="GetIbuByIdResult" nillable="true" type="q1:IbuData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdByNameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>