Bhm/Bhm.Web/Service References/KegiatansService/KegiatansService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InsertKegiatan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBalita" type="xs:int" />
        <xs:element minOccurs="0" name="idPosyandu" type="xs:int" />
        <xs:element minOccurs="0" name="tgl" type="xs:dateTime" />
        <xs:element minOccurs="0" name="bb" type="xs:double" />
        <xs:element minOccurs="0" name="tb" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertKegiatanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>