trunk/Bhm/Bhm.Web/Service References/AyahsService/AyahsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ayahs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ayahs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AyahData">
    <xs:sequence>
      <xs:element minOccurs="0" name="alamatAyah" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAyah" type="xs:int" />
      <xs:element minOccurs="0" name="namaAyah" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pkjAyah" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tlAyah" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AyahData" nillable="true" type="tns:AyahData" />
</xs:schema>