trunk/Bhm/Bhm.Web/Service References/VitaminsService/VitaminsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InsertVitamin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kapsulBiru" type="xs:dateTime" />
        <xs:element minOccurs="0" name="kapsulMerah1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="kapsulMerah2" type="xs:dateTime" />
        <xs:element minOccurs="0" name="kapsulMerah3" type="xs:dateTime" />
        <xs:element minOccurs="0" name="kapsulMerah4" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVitaminResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>