trunk/Bhm/Bhm.Web/Service References/PosyandusService/PosyandusServiceImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PosyandusServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Bhm.Service/PosyandusService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Bhm.Service/PosyandusService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Bhm.Service/PosyandusService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/Bhm.Service/PosyandusService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Posyandus" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPosyandusService_ListPosyandu_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPosyandu" />
  </wsdl:message>
  <wsdl:message name="IPosyandusService_ListPosyandu_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPosyanduResponse" />
  </wsdl:message>
  <wsdl:message name="IPosyandusService_GetPosyandu_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPosyandu" />
  </wsdl:message>
  <wsdl:message name="IPosyandusService_GetPosyandu_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPosyanduResponse" />
  </wsdl:message>
  <wsdl:message name="IPosyandusService_GetAllPosyandu_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPosyandu" />
  </wsdl:message>
  <wsdl:message name="IPosyandusService_GetAllPosyandu_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPosyanduResponse" />
  </wsdl:message>
  <wsdl:message name="IPosyandusService_ListKecamatan_InputMessage">
    <wsdl:part name="parameters" element="tns:ListKecamatan" />
  </wsdl:message>
  <wsdl:message name="IPosyandusService_ListKecamatan_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListKecamatanResponse" />
  </wsdl:message>
  <wsdl:message name="IPosyandusService_InsertPosyandu_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPosyandu" />
  </wsdl:message>
  <wsdl:message name="IPosyandusService_InsertPosyandu_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPosyanduResponse" />
  </wsdl:message>
  <wsdl:message name="IPosyandusService_UpdatePosyandu_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePosyandu" />
  </wsdl:message>
  <wsdl:message name="IPosyandusService_UpdatePosyandu_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePosyanduResponse" />
  </wsdl:message>
  <wsdl:message name="IPosyandusService_GetIdByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdByName" />
  </wsdl:message>
  <wsdl:message name="IPosyandusService_GetIdByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IPosyandusService">
    <wsdl:operation name="ListPosyandu">
      <wsdl:input wsaw:Action="http://tempuri.org/IPosyandusService/ListPosyandu" message="tns:IPosyandusService_ListPosyandu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPosyandusService/ListPosyanduResponse" message="tns:IPosyandusService_ListPosyandu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPosyandu">
      <wsdl:input wsaw:Action="http://tempuri.org/IPosyandusService/GetPosyandu" message="tns:IPosyandusService_GetPosyandu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPosyandusService/GetPosyanduResponse" message="tns:IPosyandusService_GetPosyandu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPosyandu">
      <wsdl:input wsaw:Action="http://tempuri.org/IPosyandusService/GetAllPosyandu" message="tns:IPosyandusService_GetAllPosyandu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPosyandusService/GetAllPosyanduResponse" message="tns:IPosyandusService_GetAllPosyandu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListKecamatan">
      <wsdl:input wsaw:Action="http://tempuri.org/IPosyandusService/ListKecamatan" message="tns:IPosyandusService_ListKecamatan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPosyandusService/ListKecamatanResponse" message="tns:IPosyandusService_ListKecamatan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPosyandu">
      <wsdl:input wsaw:Action="http://tempuri.org/IPosyandusService/InsertPosyandu" message="tns:IPosyandusService_InsertPosyandu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPosyandusService/InsertPosyanduResponse" message="tns:IPosyandusService_InsertPosyandu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePosyandu">
      <wsdl:input wsaw:Action="http://tempuri.org/IPosyandusService/UpdatePosyandu" message="tns:IPosyandusService_UpdatePosyandu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPosyandusService/UpdatePosyanduResponse" message="tns:IPosyandusService_UpdatePosyandu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IPosyandusService/GetIdByName" message="tns:IPosyandusService_GetIdByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPosyandusService/GetIdByNameResponse" message="tns:IPosyandusService_GetIdByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPosyandusService" type="tns:IPosyandusService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListPosyandu">
      <soap:operation soapAction="http://tempuri.org/IPosyandusService/ListPosyandu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPosyandu">
      <soap:operation soapAction="http://tempuri.org/IPosyandusService/GetPosyandu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPosyandu">
      <soap:operation soapAction="http://tempuri.org/IPosyandusService/GetAllPosyandu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListKecamatan">
      <soap:operation soapAction="http://tempuri.org/IPosyandusService/ListKecamatan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPosyandu">
      <soap:operation soapAction="http://tempuri.org/IPosyandusService/InsertPosyandu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePosyandu">
      <soap:operation soapAction="http://tempuri.org/IPosyandusService/UpdatePosyandu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdByName">
      <soap:operation soapAction="http://tempuri.org/IPosyandusService/GetIdByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PosyandusServiceImpl">
    <wsdl:port name="BasicHttpBinding_IPosyandusService" binding="tns:BasicHttpBinding_IPosyandusService">
      <soap:address location="http://localhost/Bhm.Service/PosyandusService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>