Bhm/Bhm.Web/Service References/ImunisasisService/ImunisasisServiceImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImunisasisServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Bhm.Service/ImunisasisService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Bhm.Service/ImunisasisService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Bhm.Service/ImunisasisService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Imunisasis" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImunisasisService_InsertImunisasi_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertImunisasi" />
  </wsdl:message>
  <wsdl:message name="IImunisasisService_InsertImunisasi_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertImunisasiResponse" />
  </wsdl:message>
  <wsdl:message name="IImunisasisService_GetImunisasiById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImunisasiById" />
  </wsdl:message>
  <wsdl:message name="IImunisasisService_GetImunisasiById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImunisasiByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IImunisasisService_UpdateImunisasi_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateImunisasi" />
  </wsdl:message>
  <wsdl:message name="IImunisasisService_UpdateImunisasi_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateImunisasiResponse" />
  </wsdl:message>
  <wsdl:portType name="IImunisasisService">
    <wsdl:operation name="InsertImunisasi">
      <wsdl:input wsaw:Action="http://tempuri.org/IImunisasisService/InsertImunisasi" message="tns:IImunisasisService_InsertImunisasi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImunisasisService/InsertImunisasiResponse" message="tns:IImunisasisService_InsertImunisasi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImunisasiById">
      <wsdl:input wsaw:Action="http://tempuri.org/IImunisasisService/GetImunisasiById" message="tns:IImunisasisService_GetImunisasiById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImunisasisService/GetImunisasiByIdResponse" message="tns:IImunisasisService_GetImunisasiById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateImunisasi">
      <wsdl:input wsaw:Action="http://tempuri.org/IImunisasisService/UpdateImunisasi" message="tns:IImunisasisService_UpdateImunisasi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImunisasisService/UpdateImunisasiResponse" message="tns:IImunisasisService_UpdateImunisasi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImunisasisService" type="tns:IImunisasisService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertImunisasi">
      <soap:operation soapAction="http://tempuri.org/IImunisasisService/InsertImunisasi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImunisasiById">
      <soap:operation soapAction="http://tempuri.org/IImunisasisService/GetImunisasiById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateImunisasi">
      <soap:operation soapAction="http://tempuri.org/IImunisasisService/UpdateImunisasi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImunisasisServiceImpl">
    <wsdl:port name="BasicHttpBinding_IImunisasisService" binding="tns:BasicHttpBinding_IImunisasisService">
      <soap:address location="http://localhost/Bhm.Service/ImunisasisService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>