trunk/Bhm/Bhm.Web/Service References/BalitasService/BalitasServiceImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BalitasServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2370/Bhm.Service/BalitasService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2370/Bhm.Service/BalitasService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2370/Bhm.Service/BalitasService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:2370/Bhm.Service/BalitasService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Balitas" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBalitasService_ListBalita_InputMessage">
    <wsdl:part name="parameters" element="tns:ListBalita" />
  </wsdl:message>
  <wsdl:message name="IBalitasService_ListBalita_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListBalitaResponse" />
  </wsdl:message>
  <wsdl:message name="IBalitasService_InsertBalita_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBalita" />
  </wsdl:message>
  <wsdl:message name="IBalitasService_InsertBalita_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBalitaResponse" />
  </wsdl:message>
  <wsdl:message name="IBalitasService_UpdateBalita_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBalita" />
  </wsdl:message>
  <wsdl:message name="IBalitasService_UpdateBalita_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBalitaResponse" />
  </wsdl:message>
  <wsdl:message name="IBalitasService_GetBalita_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBalita" />
  </wsdl:message>
  <wsdl:message name="IBalitasService_GetBalita_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBalitaResponse" />
  </wsdl:message>
  <wsdl:message name="IBalitasService_GetIdByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdByName" />
  </wsdl:message>
  <wsdl:message name="IBalitasService_GetIdByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IBalitasService_GetBalitaByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBalitaByName" />
  </wsdl:message>
  <wsdl:message name="IBalitasService_GetBalitaByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBalitaByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IBalitasService">
    <wsdl:operation name="ListBalita">
      <wsdl:input wsaw:Action="http://tempuri.org/IBalitasService/ListBalita" message="tns:IBalitasService_ListBalita_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBalitasService/ListBalitaResponse" message="tns:IBalitasService_ListBalita_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertBalita">
      <wsdl:input wsaw:Action="http://tempuri.org/IBalitasService/InsertBalita" message="tns:IBalitasService_InsertBalita_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBalitasService/InsertBalitaResponse" message="tns:IBalitasService_InsertBalita_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBalita">
      <wsdl:input wsaw:Action="http://tempuri.org/IBalitasService/UpdateBalita" message="tns:IBalitasService_UpdateBalita_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBalitasService/UpdateBalitaResponse" message="tns:IBalitasService_UpdateBalita_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBalita">
      <wsdl:input wsaw:Action="http://tempuri.org/IBalitasService/GetBalita" message="tns:IBalitasService_GetBalita_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBalitasService/GetBalitaResponse" message="tns:IBalitasService_GetBalita_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IBalitasService/GetIdByName" message="tns:IBalitasService_GetIdByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBalitasService/GetIdByNameResponse" message="tns:IBalitasService_GetIdByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBalitaByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IBalitasService/GetBalitaByName" message="tns:IBalitasService_GetBalitaByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBalitasService/GetBalitaByNameResponse" message="tns:IBalitasService_GetBalitaByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBalitasService" type="tns:IBalitasService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListBalita">
      <soap:operation soapAction="http://tempuri.org/IBalitasService/ListBalita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBalita">
      <soap:operation soapAction="http://tempuri.org/IBalitasService/InsertBalita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBalita">
      <soap:operation soapAction="http://tempuri.org/IBalitasService/UpdateBalita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalita">
      <soap:operation soapAction="http://tempuri.org/IBalitasService/GetBalita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdByName">
      <soap:operation soapAction="http://tempuri.org/IBalitasService/GetIdByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalitaByName">
      <soap:operation soapAction="http://tempuri.org/IBalitasService/GetBalitaByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BalitasServiceImpl">
    <wsdl:port name="BasicHttpBinding_IBalitasService" binding="tns:BasicHttpBinding_IBalitasService">
      <soap:address location="http://localhost:2370/Bhm.Service/BalitasService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>