trunk/Bhm/Bhm.Web/Service References/IbusService/IbusServiceImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IbusServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Bhm.Service/IbusService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Bhm.Service/IbusService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Bhm.Service/IbusService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ibus" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIbusService_InsertIbu_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertIbu" />
  </wsdl:message>
  <wsdl:message name="IIbusService_InsertIbu_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertIbuResponse" />
  </wsdl:message>
  <wsdl:message name="IIbusService_GetIbuById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIbuById" />
  </wsdl:message>
  <wsdl:message name="IIbusService_GetIbuById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIbuByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IIbusService_GetIdByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdByName" />
  </wsdl:message>
  <wsdl:message name="IIbusService_GetIdByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IIbusService">
    <wsdl:operation name="InsertIbu">
      <wsdl:input wsaw:Action="http://tempuri.org/IIbusService/InsertIbu" message="tns:IIbusService_InsertIbu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIbusService/InsertIbuResponse" message="tns:IIbusService_InsertIbu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIbuById">
      <wsdl:input wsaw:Action="http://tempuri.org/IIbusService/GetIbuById" message="tns:IIbusService_GetIbuById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIbusService/GetIbuByIdResponse" message="tns:IIbusService_GetIbuById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IIbusService/GetIdByName" message="tns:IIbusService_GetIdByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIbusService/GetIdByNameResponse" message="tns:IIbusService_GetIdByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIbusService" type="tns:IIbusService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertIbu">
      <soap:operation soapAction="http://tempuri.org/IIbusService/InsertIbu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIbuById">
      <soap:operation soapAction="http://tempuri.org/IIbusService/GetIbuById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdByName">
      <soap:operation soapAction="http://tempuri.org/IIbusService/GetIdByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IbusServiceImpl">
    <wsdl:port name="BasicHttpBinding_IIbusService" binding="tns:BasicHttpBinding_IIbusService">
      <soap:address location="http://localhost/Bhm.Service/IbusService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>