Bhm/Bhm.Web/Service References/PosyandusService/PosyandusService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Posyandus" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Posyandus" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PosyanduData">
    <xs:sequence>
      <xs:element minOccurs="0" name="desaPosyandu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPosyandu" type="xs:int" />
      <xs:element minOccurs="0" name="kabPosyandu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kecPosyandu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="namaPosyandu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="provPosyandu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PosyanduData" nillable="true" type="tns:PosyanduData" />
  <xs:complexType name="ArrayOfPosyanduData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PosyanduData" nillable="true" type="tns:PosyanduData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPosyanduData" nillable="true" type="tns:ArrayOfPosyanduData" />
</xs:schema>