Bhm/Bhm.Web/Service References/PosyandusService/PosyandusService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Bhm.Service/PosyandusService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/Bhm.Service/PosyandusService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Posyandus" />
  <xs:element name="ListPosyandu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPosyanduResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListPosyanduResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPosyandu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPosyanduResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Posyandus" minOccurs="0" name="GetPosyanduResult" nillable="true" type="q2:PosyanduData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPosyandu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPosyanduResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Posyandus" minOccurs="0" name="GetAllPosyanduResult" nillable="true" type="q3:ArrayOfPosyanduData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListKecamatan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListKecamatanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListKecamatanResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPosyandu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kec" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kab" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prov" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPosyanduResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePosyandu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kec" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kab" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prov" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePosyanduResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>