Bhm/Bhm.Web/Service References/BalitasService/BalitasService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Balitas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Balitas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BalitaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="alamatBalita" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="anakKe" type="xs:int" />
      <xs:element minOccurs="0" name="bbl" type="xs:double" />
      <xs:element minOccurs="0" name="idAyah" type="xs:int" />
      <xs:element minOccurs="0" name="idBalita" type="xs:int" />
      <xs:element minOccurs="0" name="idIbu" type="xs:int" />
      <xs:element minOccurs="0" name="idImunisasi" type="xs:int" />
      <xs:element minOccurs="0" name="idVitamin" type="xs:int" />
      <xs:element minOccurs="0" name="jnsKelamin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="namaBalita" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tbl" type="xs:double" />
      <xs:element minOccurs="0" name="tlBalita" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BalitaData" nillable="true" type="tns:BalitaData" />
</xs:schema>