Bhm/Bhm.Web/Service References/BalitasService/BalitasService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Bhm.Service/BalitasService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/Bhm.Service/BalitasService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Balitas" />
  <xs:element name="ListBalita">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBalitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListBalitaResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalita">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Balitas" minOccurs="0" name="GetBalitaResult" nillable="true" type="q2:BalitaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBalita">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAyah" type="xs:int" />
        <xs:element minOccurs="0" name="idIbu" type="xs:int" />
        <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tl" type="xs:dateTime" />
        <xs:element minOccurs="0" name="alamat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="anak" type="xs:int" />
        <xs:element minOccurs="0" name="jk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bbl" type="xs:double" />
        <xs:element minOccurs="0" name="tbl" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBalitaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBalita">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="idAyah" type="xs:int" />
        <xs:element minOccurs="0" name="idIbu" type="xs:int" />
        <xs:element minOccurs="0" name="idVit" type="xs:int" />
        <xs:element minOccurs="0" name="idImun" type="xs:int" />
        <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tl" type="xs:dateTime" />
        <xs:element minOccurs="0" name="alamat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="anak" type="xs:int" />
        <xs:element minOccurs="0" name="jk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bbl" type="xs:double" />
        <xs:element minOccurs="0" name="tbl" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBalitaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>