Bhm/Bhm.Web/Service References/AyahsService/AyahsServiceImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AyahsServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Bhm.Service/AyahsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Bhm.Service/AyahsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Bhm.Service/AyahsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ayahs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAyahsService_InsertAyah_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAyah" />
  </wsdl:message>
  <wsdl:message name="IAyahsService_InsertAyah_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAyahResponse" />
  </wsdl:message>
  <wsdl:message name="IAyahsService_GetAyahById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAyahById" />
  </wsdl:message>
  <wsdl:message name="IAyahsService_GetAyahById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAyahByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAyahsService_GetIdByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdByName" />
  </wsdl:message>
  <wsdl:message name="IAyahsService_GetIdByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IAyahsService">
    <wsdl:operation name="InsertAyah">
      <wsdl:input wsaw:Action="http://tempuri.org/IAyahsService/InsertAyah" message="tns:IAyahsService_InsertAyah_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAyahsService/InsertAyahResponse" message="tns:IAyahsService_InsertAyah_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAyahById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAyahsService/GetAyahById" message="tns:IAyahsService_GetAyahById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAyahsService/GetAyahByIdResponse" message="tns:IAyahsService_GetAyahById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IAyahsService/GetIdByName" message="tns:IAyahsService_GetIdByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAyahsService/GetIdByNameResponse" message="tns:IAyahsService_GetIdByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAyahsService" type="tns:IAyahsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertAyah">
      <soap:operation soapAction="http://tempuri.org/IAyahsService/InsertAyah" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAyahById">
      <soap:operation soapAction="http://tempuri.org/IAyahsService/GetAyahById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdByName">
      <soap:operation soapAction="http://tempuri.org/IAyahsService/GetIdByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AyahsServiceImpl">
    <wsdl:port name="BasicHttpBinding_IAyahsService" binding="tns:BasicHttpBinding_IAyahsService">
      <soap:address location="http://localhost/Bhm.Service/AyahsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>