trunk/Bhm/Bhm.Client/Service References/PegawaisService/PegawaisServiceImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PegawaisServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Bhm.Service/PegawaisService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Bhm.Service/PegawaisService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Bhm.Service/PegawaisService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/Bhm.Service/PegawaisService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pegawais" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPegawaisService_ListPegawai_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPegawai" />
  </wsdl:message>
  <wsdl:message name="IPegawaisService_ListPegawai_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPegawaiResponse" />
  </wsdl:message>
  <wsdl:message name="IPegawaisService_GetPegawai_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPegawai" />
  </wsdl:message>
  <wsdl:message name="IPegawaisService_GetPegawai_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPegawaiResponse" />
  </wsdl:message>
  <wsdl:message name="IPegawaisService_CheckLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLogin" />
  </wsdl:message>
  <wsdl:message name="IPegawaisService_CheckLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IPegawaisService">
    <wsdl:operation name="ListPegawai">
      <wsdl:input wsaw:Action="http://tempuri.org/IPegawaisService/ListPegawai" message="tns:IPegawaisService_ListPegawai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPegawaisService/ListPegawaiResponse" message="tns:IPegawaisService_ListPegawai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPegawai">
      <wsdl:input wsaw:Action="http://tempuri.org/IPegawaisService/GetPegawai" message="tns:IPegawaisService_GetPegawai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPegawaisService/GetPegawaiResponse" message="tns:IPegawaisService_GetPegawai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IPegawaisService/CheckLogin" message="tns:IPegawaisService_CheckLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPegawaisService/CheckLoginResponse" message="tns:IPegawaisService_CheckLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPegawaisService" type="tns:IPegawaisService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListPegawai">
      <soap:operation soapAction="http://tempuri.org/IPegawaisService/ListPegawai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPegawai">
      <soap:operation soapAction="http://tempuri.org/IPegawaisService/GetPegawai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <soap:operation soapAction="http://tempuri.org/IPegawaisService/CheckLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PegawaisServiceImpl">
    <wsdl:port name="BasicHttpBinding_IPegawaisService" binding="tns:BasicHttpBinding_IPegawaisService">
      <soap:address location="http://localhost/Bhm.Service/PegawaisService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>